*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  @include fontz(14px ,2);
	height: 100%;
	width: 100%;
  position: relative;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #242425;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.fixed-page {
  overflow: hidden;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.site-main{
	flex: 1 1 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width:1442px) {
    max-width: $width;
  }
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn{
  color:#000;
  border: 1px solid #000;
  padding: 10px;
  transition: 0.45s ease;
  font-size: 18px;
  &:hover{
    color:$bronze;
    border: 1px solid $bronze;
  } 
}

.arrow{
 
  font-size: 20px;
  position: relative;
  margin-right: 100px;
  padding: 20px 0;
  @media (max-width:$bp2) {
      margin-top: 50px;
  }
  &::before{
      content: "";
      height: 10px;
      margin-right: 10px;
      max-width: 156px;
      width: 270%;
      top: 0;
      position: absolute;
      transition: 0.3s ;
  }

}

.cookies{
	display: none;
	font-family: Poppins,sans-serif;
	color: #242425 ;
	background: $white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;

	&__flex{
		display: flex;
		padding: 15px;
		align-items: center;
		justify-content: space-around;
	}
	
}