.banner{
    background: $banner;
    @media (max-width:$bp2) {
       padding-bottom: 50px;
    }
    &__container{
        display: flex;
        align-items: center;
        @media (max-width:$bp2) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    &__content,&__images{
        flex: 1 1 50%;
        @media (max-width:$bp2) {
            flex: 1 1 100%;
        }
    }

    &__content{
        @media (max-width:$bp3) {
            margin-right: 150px;  
        }

        @media (max-width:$bp2) {
            margin: 30px auto 0;
            text-align: center;
        }

        @media (min-width:$bp3) and (max-width:$bp4) {
            margin-right: 75px;  
        }
        
        &_wrap,&_button{
            @media (min-width:$bp2){
                padding-left: 20px;
            }
        }

        &_wrap{
            @media (min-width:$bp2){
                border-left: 1px solid #000;
            }
            img{
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }

        &_title{
            @include fontz(28px,2);
            margin-bottom: 20px;
            font-weight: normal;
        }
        
        &_descr{
            @include fontz(16px,2);
            max-width: 500px;
            padding-bottom: 20px;
            @media (max-width:$bp2) {
                max-width: 400px;
            }
        }

        &_button{
            margin-top: 35px;
        }
    }

    &__images{
        position: relative;
        padding: 45px  0;
        @media (max-width:$bp2) {
            margin-left: 45px;
        }
        img{
            position: relative;
            left: -45px;
            transition: 0.45s ease;
        }
    }
}



